body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}

.navbar-brand {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

a {
    color: #563d7c;
    text-decoration: none;
    transition: color 0.1s;
    padding: 10px;
}

a:hover {
    color: #8570a5;
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 700px;
}

#question-title {
    color: #f72585;
    margin-block-end: 20px;
}

.choice-button,
button {
    cursor: pointer;
    margin: 5px;
    font-size: 100%;
    background-color: #563d7c;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
}

.choice-button {
    display: block;
}

button {
    display: inline-block;
}

button:hover {
    background-color: #8570a5;
}

#check {
    font-family: Helvetica;
    color: grey;
    margin-block-start: 20px;
    font-size: 20px;
    margin-inline-start: 5px;
}

input[type="text"] {
    font-size: 100%;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

li {
    padding: 5px;
}

li:nth-child(odd) {
    background-color: #f3edfc;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

.nav {
    position: absolute;
    top: 20px;
    left: 20px;
}

.feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
}

.timer {
    position: absolute;
    top: 70px;
    right: 30px;
    color: #563d7c;
    font-size: 20px;
    padding: 5px;
}

.fade-text {
    opacity: 1;
    animation: fade 2s infinite;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}