body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}

a {
    color: #563d7c;
    text-decoration: none;
    transition: color 0.1s;
    padding: 10px;
}

a:hover {
    color: #8570a5;
}

button {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    font-size: 100%;
    background-color: #563d7c;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border: 0;
    transition: background-color 0.1s;
}

button:hover {
    background-color: #8570a5;
}

.choices button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}

li:nth-child(odd) {
    background-color: #f3edfc;
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

.nav {
    position: absolute;
    top: 20px;
    left: 20px;
}

.feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
}

.timer {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #563d7c;
}

#check {
    font-family: Helvetica;
    color: grey;
}

h2 {
    color: #f72585;
}

.fade-text {
    opacity: 1;
    animation: fade 2s infinite;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
